@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <h3>Logging in, please wait...</h3>
                </Authorizing>
                <NotAuthorized>
                    <h3>Hi, welcome to Blazor WASM standalone with Auth0 authorization demo application. <br/> Please, log in or create an account.</h3>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3 role="alert">Sorry, there's nothing at this address.</h3>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
